<a href="https://colab.research.google.com/github/romeshb/Offline-Assessment/blob/master/Offline_Assignment_Pandas_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

####**Submission by: Romesh Borawake (borawakeromesh@gmail.com)**


---


Table under consideration is Sales with the sample format given below:


Sale_date, Country, Category, product, sales
Jan-2021, USA , Retail, UUID1, 10000
Jan-2021, USA, Healthcare, UUID2, 2000
Jan-2021, Canada, Retail, UUID3, 30000
Jan-2021, Canada, Hospitality, UUID4, 5000
Feb-2021, USA , Retail, UUID5, 10000
Feb-2021, USA, Healthcare, UUID6, 2000
Feb-2021, Canada, Retail, UUID7, 30000
Feb-2021, Canada, Hospitality, UUID8, 5000
```
Sale_date, Country, Category, product, sales
Jan-2021, USA , Retail, UUID1, 10000
Jan-2021, USA, Healthcare, UUID2, 2000
Jan-2021, Canada, Retail, UUID3, 30000
Jan-2021, Canada, Hospitality, UUID4, 5000
Feb-2021, USA , Retail, UUID5, 10000
Feb-2021, USA, Healthcare, UUID6, 2000
Feb-2021, Canada, Retail, UUID7, 30000
Feb-2021, Canada, Hospitality, UUID8, 5000
```

Questions:

1.Top 3 categories within every country based on total sales in the current year.
- Output should be in this format (Country, Category, Total sales)
2. Total sales of products sold in both Feb & Jan , Total sales of products sold ONLY in Jan, Total sales of products sold ONLY in Feb.
- Output should be in this format (jan_feb_sales, jan_sales, feb_sales)
3. In the query written in question #1 what are the partitions and indexes you would create for best performance?

In [32]:
# importing required library
import pandas as pd

In [33]:
# We create a DataFrame of the table given in the question.
df = pd.DataFrame([['Jan-2021','USA', 'Retail', 'UUID1', 10000],
                   ['Jan-2021','USA', 'Healthcare', 'UUID2', 2000],
                   ['Jan-2021', 'Canada', 'Retail', 'UUID3', 30000],
                   ['Jan-2021', 'Canada', 'Hospitality', 'UUID4', 5000],
                   ['Feb-2021', 'USA' , 'Retail', 'UUID5', 10000],
                   ['Feb-2021', 'USA', 'Healthcare', 'UUID6', 2000],
                   ['Feb-2021', 'Canada', 'Retail', 'UUID7', 30000],
                   ['Feb-2021', 'Canada', 'Hospitality', 'UUID8', 5000]], 
                  columns = ['Sale_date','Country','Category','product','sales']
                  )

In [34]:
# We Create two columns named Sale_month and Sale_year from Sale_date
df[['Sale_month','Sale_year']] = df['Sale_date'].str.split('-', expand = True)
df

  Sale_date Country     Category product  sales Sale_month Sale_year
0  Jan-2021     USA       Retail   UUID1  10000        Jan      2021
1  Jan-2021     USA   Healthcare   UUID2   2000        Jan      2021
2  Jan-2021  Canada       Retail   UUID3  30000        Jan      2021
3  Jan-2021  Canada  Hospitality   UUID4   5000        Jan      2021
4  Feb-2021     USA       Retail   UUID5  10000        Feb      2021
5  Feb-2021     USA   Healthcare   UUID6   2000        Feb      2021
6  Feb-2021  Canada       Retail   UUID7  30000        Feb      2021
7  Feb-2021  Canada  Hospitality   UUID8   5000        Feb      2021

## 1.Top 3 categories within every country based on total sales in the current year.

    Output should be in this format (Country, Category, Total sales)

In [42]:
output1 = df.groupby(['Sale_year','Country']).apply(lambda x: (x.groupby(['Category'])
                                            .sum() # sum(of sales for each group)
                                            .sort_values('sales', ascending=False)) # sort Sum of sales, in descending order within each group 
                                            .head(3)) # grouby.head() will give top n records for each group

In [43]:
output1.columns = ['Total_sales'] # Changing Column name to Total sales
output1.reset_index(inplace = True) 
output1.drop(['Sale_year'], axis =1, inplace = True) # removing unwanted column

In [37]:
# Output for Question 1
output1

  Country     Category  Total_sales
0  Canada       Retail        60000
1  Canada  Hospitality        10000
2     USA       Retail        20000
3     USA   Healthcare         4000

## 2. Total sales of products sold in both Feb & Jan , Total sales of products sold ONLY in Jan, Total sales of products sold ONLY in Feb.

    Output should be in this format (jan_feb_sales, jan_sales, feb_sales)

In [44]:
# Getting Jan and Feb total sales
jan_feb_sales = df[(df['Sale_month'] == 'Jan') | (df['Sale_month'] == 'Feb')]['sales'].sum()
jan_feb_sales

94000

In [45]:
# Getting Jan total sales
jan_sales = df[df['Sale_month'] == 'Jan']['sales'].sum()
jan_sales

47000

In [46]:
# Getting Feb total sales
feb_sales = df[df['Sale_month'] =='Feb']['sales'].sum()
feb_sales

47000

In [48]:
# Output for question 2
output2 = pd.DataFrame({'jan_feb_sales':[jan_feb_sales],'jan_sales':[jan_sales],'feb_sales':[feb_sales]})
output2

   jan_feb_sales  jan_sales  feb_sales
0          94000      47000      47000

## 3. In the query written in question #1 what are the partitions and indexes you would create for best performance?

- The Partitions I created were Sale_year, Country and Category for best perfomance,
- because, We can say that Sale year is least Heterogeneous in the current table, followed by Country and then by Category.

----END OF NOTEBOOK----